body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, .95)), url(../images/bg_pindias.png) repeat;
}

/*========================== BOOTSTRAP OVERRIDE ==========================*/
body input.form-control:focus,
body select.form-select:focus,
body textarea.form-control:focus,
body span.input-group-text {
    outline: none;
    box-shadow: none;
    border-color: #808080;
}

body input.input-search:focus {
    outline: none;
    box-shadow: none;
    border-color: #808080;
}

.input-search {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ced4da;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border-radius: 5px;
    width: 400px;
    padding: .5em 1em .5em 2.5em;
}

body input{
    height:46px;
}

.bgWhite {
    background: #fff;
}

.btnGrad {
    color: #fff;
    font-size: 14px;
    font-family: gothamMedium;
    padding: 10px 30px;
    line-height: 100%;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    background: linear-gradient(to right, #3d107b 0%, #6b0876 51%, #920071 100%);
}

.btnGrad:hover {
    color: #fff;
    background-position: right center;
}

.btnGrad.btnOutline {
    border: 1px solid #8b0172;
    background: #fff;
    color: #8b0172;
}

.btnGrad.btnOutline:hover {
    color: #fff;
    border-color: transparent;
    background: linear-gradient(to right, #3d107b 0%, #6b0876 51%, #920071 100%);
}

.btnGrad .fas {
    margin: 0 10px;
}

.bgGrad {
    background: linear-gradient(90deg, #3d107b 0%, #6b0876 51%, #920071 100%);
}

.bgGrey {
    background: #e6e6e6;
}

.clRed {
    color: red;
}

.fs-12{
    font-size: 12px;
}
.fs-16 {
    font-size: 16px;
}

.fs-20{
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fw-600 {
    font-weight: 600;
}

.text-color {
    color: #701E87;
}


section {
    padding: 30px;
    position: relative;
}

section .sectionHeading {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    margin-top: 10px;
    font-size: 40px;
}

section .sectionHeading:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 70px;
    height: 5px;
    background: #5B2E91;
}

section.banner .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Button */
.btn:focus {
    box-shadow: none;
}

/* Form search */
.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
    margin-left: 0;
}

.btn-group .btn {
    border-radius: 0;
    font-size: 14px;
    color: #c6a5cf;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.btn-check:checked+.btn {
    color: #fff;
}

.btn-check:checked+.label-home-radio::before {
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    bottom: -3px;
    width: 30px;
    height: 2px;
    background: #fff;
}

/* About Us */
#aboutPage .leader {
    min-height: 650px;
}

#aboutPage .leader .thumb img {
    width: 100%;
}

#aboutPage .leader .info {
    text-align: center;
    padding: 20px 10px;
}

#aboutPage .leader .leadership {
    padding-left: 100px;
    height: auto;
}

#aboutPage .culture .icon .culture-item {
    margin: 0 10px 20px;
    padding: 55px;
    width: 227px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #802990;
    border-radius: 8px;
    text-align: center;
}

#aboutPage .culture .icon .culture-item img {
    margin: 10px;
}

#aboutPage .culture .icon .culture-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #802990;
}

#aboutPage .partner .sectionHeading {
    text-align: center;
}

#aboutPage .partner .sectionHeading::before {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -7px;
}

#aboutPage .partner .icon img {
    max-width: 100%;
    padding: 20px 0;
}

#aboutPage .partner .icon-float-end img {
    float: right;
}

/* Guide */
#guidePage .guide .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#guidePage .guide .step .icon {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 1px #802990;
}

#guidePage .guide .step .content {
    height: 80px;
}

#guidePage .guide-contact form label {
    font-weight: 600;
}

/* FAQs */
#faqPage .accordion-item {
    margin-top: 20px;
    background-color: transparent;
}

#faqPage .accordion-flush .accordion-item:last-child {
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#faqPage .accordion-header {
    padding-bottom: 5px;
}

#faqPage .accordion-button {
    padding: 0;
    background: transparent;
}

#faqPage .accordion-button::after {
    content: "+";
    background: transparent;
    border-radius: 50%;
    background-color: #701E87;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#faqPage .accordion-button:not(.collapsed)::after {
    content: "-";
    background: transparent;
    transform: none;
    border-radius: 50%;
    background-color: #701E87;
    color: #fff;
}

#faqPage button:focus:not(:focus-visible) {
    outline: transparent;
}

#faqPage .accordion-button:focus {
    border-color: transparent;
    outline: transparent;
    box-shadow: none;
}

#faqPage .accordion-button:not(.collapsed) {
    color: #212529;
    background-color: transparent;
    box-shadow: none;
}

#faqPage .accordion-button span {
    width: 90%;
    font-size: 20px;
}

#faqPage .accordion-body {
    padding: 1rem 0rem;
}

#faqPage ul {
    list-style: none;
}

#faqPage ul li a {
    color: #701E87;
    text-decoration: none;
}